<app-navbar></app-navbar>
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <app-header></app-header>
                  </div>

<div class="about">

<h2>About Us</h2>

<p>
    Saftech Fonez Offer Sim Free Phones, Tablets, Laptops, Phone Accessories, Device Repair & Phone Unlocking at incredible
    low prices in Ireland.

    

    
  </p>
  
  <p>
      Saftech Fonez offer all the latest phones from all the leading mobile phone brands.
      All our phones are Sim Free which means you can use your phone through out the world on any network.
      It gives the customer greater control & flexibility over network selection & pricing plan.
      With all our new phones we offer at least 12 months warranty, in some cases it is 24 months warranty.


  </p>



</div>
