<div class="about">

  <h2>About Us</h2>
  <p>
    Saftech Fonez Offer Sim Free Phones, Tablets, Laptops, Phone Accessories, Device Repair & Phone Unlocking at incredible
    low prices in Ireland.
  </p>

  <div class="row">
      <div class="column">    
              Saftech Fonez offer all the latest phones from all the leading mobile phone brands.
              All our phones are Sim Free which means you can use your phone through out the world on any network.
              It gives the customer greater control & flexibility over network selection & pricing plan.
              With all our new phones we offer at least 12 months warranty, in some cases it is 24 months warranty.
      </div>
      
      <div class="column">
        <img src = "/assets/images/companylogo.jpg" width="150" height="150">
        <div class=signature>
          Saftech Fonez
        </div>
      </div>
  </div>

  <div class="icon">
    <a href="https://www.facebook.com/saftechfonez/">
      <img src = "/assets/images/instagram.png" width="50" height="50">
    </a>
    <p>
      Follow us on Instagram
    </p>
  </div>

  <div class="icon">
    <a href="https://www.facebook.com/saftechfonez/">
      <img src = "/assets/images/facebook.png" width="50" height="50">
    </a>
    <p>
      Like our page on Facebook
  </p>
  </div>

  <div class="icon">
    <a href="https://www.facebook.com/saftechfonez/">
      <img src = "/assets/images/linkedin.png" width="50" height="50">
    </a>
    <p>
      We also have Linkedin
    </p>
  </div>
</div>
