<mat-expansion-panel [expanded]="false" *ngFor="let post of posts">
    
    <mat-expansion-panel-header> 
      {{ post.prodName }}
    </mat-expansion-panel-header>
    {{ post.Description }}
    <br>
    €{{ post.Price }}
    <input type = "hidden" min="200" [(ngModel)] = "post.Price">
    <br>
    <mat-action-row>
        <button mat-button color="primary" [routerLink]="['/cart', post.Price]" >Buy Now!</button>   
    </mat-action-row>
   
  
    
  </mat-expansion-panel>
  
  <div id = "paypal-checkout-btn"></div>