<mat-toolbar>
  
  <mat-toolbar-row>
      <div id="container">
    <span class="title-center">
        <button mat-button [routerLink]="['']" color="Warn">Party Organizer App</button>
    </span>
  </div>
  </mat-toolbar-row>
  <mat-toolbar-row id = "color">
      <button mat-button [routerLink]="['/about']" color="Warn">Contacts</button>
      <button mat-button [routerLink]="['/home']" color="Warn">Add Contact</button>
      <button mat-button [routerLink]="['/samsung']">Edit Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>