<!--Styling Navigation Bar-->

<div class="container">
  <div class="hero">

      <mat-toolbar-row id="header">
          <!--Homepage-->
          <button mat-button [routerLink]="['']">
            <h2>Shop Phones</h2>
          </button>
          <!--Routing - Directing to used cars-->
          <button mat-button [routerLink]="['/cars']">
            <h2>Shop Accessories</h2>
          </button>
          <button mat-button [routerLink]="['/cars']">
            <h2>Shop Laptop & Tablets</h2>
          </button>
          <button mat-button id="color" [matMenuTriggerFor]="menu">
            <h2>Feedback</h2>
          </button>
          <!--Drop down menu-->
          <mat-menu id="color" #menu="matMenu">
            <button id="color" mat-menu-item [routerLink]="['/list']">View Feedbacks</button>
            <button id="color" mat-menu-item [routerLink]="['/create']">Add Feedback</button>
            <button id="color" mat-menu-item [routerLink]="['/list']">Edit Feedback</button>
      
          </mat-menu>
          <button mat-button [routerLink]="['/contact']">
            <h2>Contact</h2>
          </button>
      
        </mat-toolbar-row>

  </div>

</div>

<router-outlet></router-outlet>