<body>
    <section class="phones">
        <div class="phonecontainer">
          <header>
            <h1>Trending Phones</h1>
          </header>
    
          <main>
            <div class="product">
              <img src="/assets/images/samsung10.png">
              <div class="productcontent">
                <h3>Samsung Galaxy S10</h3>
                <p>Shop Samsung</p>
                <a href="/phones" target="_blank" class="btn">Shop Now</a>
              </div>
            </div>
            <div class="product">
              <img src="/assets/images/xs.png">
              <div class="productcontent">
                <h3>iPhone XS</h3>
                <p>Shop iPhone </p>
                <a href="/phones" target="_blank" class="btn">Shop Now</a>
              </div>
            </div>
            <div class="product">
              <img src="/assets/images/one6.png">
              <div class="productcontent">
                <h3>OnePlus 6T</h3>
                <p>Shop OnePlus</p>
                <a href="/phones" target="_blank" class="btn">Shop Now</a>
              </div>
            </div>
            <div class="product">
              <img src="/assets/images/oppo.png">
              <div class="productcontent">
                <h3>OPPO Find X</h3>
                <p>Shop OPPO</p>
                <a href="/phones" target="_blank" class="btn">Shop Now</a>
              </div>
            </div>
          </main>
        </div>
      </section>




















    <section class="accessories">
        <div class="container">
            <header>
              <h1><a href="/samsung"> Accessories</a></h1>
              <p>Low cost accessories at affordable prices.</p>
            </header>
        </div>
    </section>
    <section class="blog">
        <div class="container">
          <header>
            <h1>Latest News</h1>
            <p>Stay up to date on the latest news and updates on new product and software releases.</p>
          </header>
    
          <main>
            <div class="singleBlog">
              <img src="/assets/images/samsungBlog.jpg">
              <div class="blogContent">
                <h3>Meet The New Galaxy A80</h3>
                <p>Galaxy A80 is built for those who live their lives in the moment.</p>
                <a href="https://www.samsung.com/global/galaxy/galaxy-a80/" target="_blank" class="btn">Read More</a>
              </div>
            </div>
            <div class="singleBlog">
              <img src="/assets/images/huaweiBlog.jpg">
              <div class="blogContent">
                <h3>Huawei P30 Pro</h3>
                <p>Samsung better watch their back as Huawei is aiming for No. 1 by 2020 </p>
                <a href="https://www.cnbc.com/2018/11/16/huawei-aims-to-overtake-samsung-as-no-1-smartphone-player-by-2020.html" target="_blank" class="btn">Read More</a>
              </div>
            </div>
            <div class="singleBlog">
              <img src="/assets/images/apple5g.jpg">
              <div class="blogContent">
                <h3>Will The New iPhones Have 5G</h3>
                <p>Why This Year's New iPhones Won't Have 5G</p>
                <a href="http://fortune.com/2019/04/22/apple-iphone-5g/" target="_blank" class="btn">Read More</a>
              </div>
            </div>
            <div class="singleBlog">
              <img src="/assets/images/background.png">
              <div class="blogContent">
                <h3>Follow Us For Updates</h3>
                <p>Follow us on facebook for more news and updates on latest releases.</p>
                <a href="http://facebook.com/saftechfonez" target="_blank" class="btn">Follow Us</a>
              </div>
            </div>
          </main>
        </div>
      </section>
</body>
