<body>
    <section class="accessories">
        <div class="container">
            <header>
              <h1><a href="/samsung"> Accessories</a></h1>
              <p>Low cost accessories at affordable prices.</p>
            </header>
        </div>
    </section>
    <section class="blog">
        <div class="container">
          <header>
            <h1>Latest News</h1>
            <p>Stay up to date on the latest news and updates on new product and software releases.</p>
          </header>
    
          <main>
            <div class="singleBlog">
              <img src="/assets/images/samsungBlog.jpg">
              <div class="blogContent">
                <h3>Meet The New Galaxy A80</h3>
                <p>Galaxy A80 is built for those who live their lives in the moment.</p>
                <a href="https://www.samsung.com/global/galaxy/galaxy-a80/" target="_blank" class="btn">Read More</a>
              </div>
            </div>
            <div class="singleBlog">
              <img src="/assets/images/huaweiBlog.jpg">
              <div class="blogContent">
                <h3>Huawei P30 Pro</h3>
                <p>Samsung better watch their back as Huawei is aiming for No. 1 by 2020 </p>
                <a href="https://www.cnbc.com/2018/11/16/huawei-aims-to-overtake-samsung-as-no-1-smartphone-player-by-2020.html" target="_blank" class="btn">Read More</a>
              </div>
            </div>
            <div class="singleBlog">
              <img src="/assets/images/apple5g.jpg">
              <div class="blogContent">
                <h3>Will The New iPhones Have 5G</h3>
                <p>Why This Year's New iPhones Won't Have 5G</p>
                <a href="http://fortune.com/2019/04/22/apple-iphone-5g/" target="_blank" class="btn">Read More</a>
              </div>
            </div>
            <div class="singleBlog">
              <img src="/assets/images/background.png">
              <div class="blogContent">
                <h3>Follow Us For Updates</h3>
                <p>Follow us on facebook for more news and updates on latest releases.</p>
                <a href="http://facebook.com/saftechfonez" target="_blank" class="btn">Follow Us</a>
              </div>
            </div>
          </main>
        </div>
      </section>
<!--div class="container">

  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>

</div>
<div class ="info">
<div class="wrapper">
  <div class="circle"></div>
  <h1>Sale Now On!</h1>
    <p>We stock a wide range of stylish, trendy smartwatches. Low cost competitive prices on all our smartwatches. Currently there is 50% off all seleceted
      smartwatches including the high market brands such as Apple, Samsung and Huawei.
      All our products come with store and manufacturer's warranty with both brand new and refurbished products. We also offer our customers a flexible payment plan.
      Call in store or shop online. For more information please call into any of our stores nationwide and a member of the Saftech team will be
      happy to help you out.
      Students get additional 10% off on products and repairs when they show a valid student ID.
    </p>
  
</div>
</div-->
<app-footer></app-footer>
</body>




















<!--div class="landing">
    <div class = "image">
             <img src="/assets/images/image1.png" style="width:450px;height:245px;">
             </div>

             <div class = "image">
        <img src="/assets/images/summer.jpg" style="width:445px;height:245px;">
        </div>

        <div class = "image">
        <img src="/assets/images/image2.png" style="width:450px;height:245px;">
        </div>
</div>




        <div class="icon">
                <div class="button">
                <button mat-stroked-button >PHONES</button>
                <p>
                  Shop Phones
                </p>
              </div>
</div>
              <div class="icon">
                    <button mat-fab >SALE</button>
                <p>
                  Shop Sale
              </p>
              </div>
            
              <div class="icon">
                    <button mat-stroked-button >ACCESSORIES</button>
                <p>
                        Shop Accessorires
                </p>
              </div>

        <button type="button" class="btn btn-outline-primary">Phones</button>
        <button type="button" class="btn btn-outline-primary">Accessorires</button>
        <button type="button" class="btn btn-outline-primary">Sale</button-->
