<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<div class="footer-main-div">
<div class="footer-social-icons">
  <ul>
    <li><a href="https://www.facebook.com/saftechfonez" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.linkedin.com/company/saftech-fonez/about" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://sites.google.com/view/saftechfonez" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="tel:+831767145" target="_blank"><i class="fa fa-phone"></i></a></li>
  </ul>
  
</div>
<div class="footer-menu-one">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/phones">Phones</a></li>
    <li><a href="/accessory">Accessories</a></li>
    <li><a href="https://www.facebook.com/pg/saftechfonez/about" target="_blank">Contact</a></li>
  </ul>
</div>

<div class="footer-menu-two">
    <ul>
      <li><a href="#">Blog</a></li>
      <li><a href="www.facebook.com/saftechfonez" target="_blank">News</a></li>
      <li><a href="#">Return Policy</a></li>
    </ul>
  </div>
</div>
<div class="footer-bottom">
  <p>&copy; Saftech Fonez 2019</p>
</div>

